<% if @path_list && @path_list.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" style="min-width: 100px;">Line No.</th>
          <th scope="col">File Path (url)</th>
        </tr>
      </thead>
      <tbody>
        <% @path_list.each do |line, path| %>
          <tr>
            <td><%= line %></td>
            <td><%= path %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

