<% provide :page_title, "Batches" %>


<% provide :page_header do %>
  <h1><span class="fa fa-database" aria-hidden="true"></span> <%= "Batches" %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default tabs">
      <%= render 'tabs' %>
      <div class="panel-body">
        <%= render 'batches_list' %>

        <%#= render 'results_pagination' %>
      </div>
    </div>
  </div>
</div>
