<!DOCTYPE html>
<html>
<head>
  <title>Cdm migrator</title>
  <%= stylesheet_link_tag    "cdm_migrator/application", media: "all" %>
  <%= javascript_include_tag "cdm_migrator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
